@model KidsChurch.Models.Child

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primaryGuardian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primaryGuardian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondaryGuardian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondaryGuardian)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
